.dart_tool/
.idea/
build/
.vscode/

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
Thumbs.db

# IDE files
.idea/
.vscode/
*.iml

# Flutter/Dart/Pub
.dart_tool/
.packages
.pub/
.pub-cache/
build/

# Flutter generated plugin files
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# Coverage
coverage/

# Symbolication
app.*.symbols

# Obfuscation
app.*.map.json

# Android
/android/.gradle/
/android/app/debug/
/android/app/profile/
/android/app/release/
/android/local.properties

# iOS
/ios/Flutter/.last_build_id
/ios/Flutter/Flutter.podspec
/ios/Flutter/Generated.xcconfig
/ios/Flutter/flutter_export_environment.sh
/ios/Pods/
/ios/.symlinks/
/ios/Runner.xcworkspace/

# macOS
/macos/Flutter/ephemeral/
/macos/Pods/

# Linux
/linux/flutter/ephemeral/

# Windows
/windows/flutter/ephemeral/

# Web
/web/.dart_tool/

# Temporary or accidental files
*~
*.tmp
*.temp